<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/audio.png"/>
      <div class="card-title">{{ 'DAILY_AUDIO_MOTIVATIONAL' | translate }}</div>
    </ion-card>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 class="content-col {{audio.type == '0' ? '' : 'hide-col'}}"  *ngFor="let audio of audios">
        <ion-card (click)="open(audio)">
          <ion-card-content>
            <img src="assets/imgs/default-img.gif" [lazyLoad]="audio.image" *ngIf="audio.image != null" offset="100"/>
            <h2>{{audio.name}}</h2>
            <div class="progress-bar">
              <div class="current" [progress]='audio.progress'></div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>