page-disclosure-business {
    [col-12] {
        padding-top: 0;
        padding-bottom: 0;
    }
    .col {
        padding-top: 0;
        button {
            background-color: $light;
            border: none;
        }
    }
}
