page-language {
    .button-full {
        background-color: $light;
        border-radius: 10px;
    }

    ion-item {
        background: none !important;
        color: $light !important;
        font-weight: bold !important;
        font-size: 20px !important;
        border: none !important;
        &.item-radio-checked {
            ion-label {
                color: #ffffff !important;
            }
            .radio-inner {
                border-color: #ffffff !important;
            }
        }
    }
}
