<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{'SELECT_LANGUAGE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list radio-group>
    <ion-item *ngFor="let item of languages">
      <ion-label>{{item.name}}</ion-label>
      <ion-radio value="{{item.key}}" [checked]="current.language == item.key" (ionSelect)="change(item.key)"></ion-radio>
    </ion-item>
  </ion-list>
  <button ion-button full (click)="save()">{{'SAVE' | translate}}</button>
</ion-content>