<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{'FORGOT_PASSWORD' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom"><ion-icon name="close-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="formGroup" id="formRecovery" (ngSubmit)="send()">
    <ion-list> 
      <ion-item>
        <ion-input type="email" formControlName="email" placeholder="{{ 'EMAIL' | translate }}" autocomplete="off" autocorrect="off" [ngClass]="{'error': email.invalid && email.touched}"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">{{'SEND' | translate}}</button>
  </form>
</ion-content>