page-recovery {
    ion-header {
        ion-title {
            text-align: center;
        }
    }
    ion-buttons {
        button {
            font-size: 20px;
        }
    }
    #formRecovery {
        .item-block {
            border-top: none;
            margin-top: 20px;
        }
        button {
            background-color: $light !important;
            border-radius: 10px !important;
        }
    }
}
