<ion-content no-bounce slot="fixed">
  <div *ngIf="hasSession == false">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r"></span>
    </div>
    <div class="logo" *ngIf="touchIdOff || touchId">
      <img src="assets/imgs/bigprofy.png" />
    </div>
    <div id="content-box" padding>
      <div class="touch-box" *ngIf="touchId">
        <button color="primary" ion-button icon-left block (click)="touchLogin()">
          <ion-icon name="ios-finger-print"></ion-icon> {{ 'SIGN_FINGERPRINT' | translate }}
        </button>
        <button color="primary" ion-button icon-left block (click)="changeLogin()">
          <ion-icon name="ios-key"></ion-icon> {{ 'SIGN_PASSWORD' | translate }}
        </button>
      </div>
      <div class="box-form" *ngIf="touchIdOff">
        <form [formGroup]="formGroup" id="formLogin" (ngSubmit)="login()">
          <ion-list>
            <ion-item>
              <ion-icon name="mail-outline" item-left></ion-icon>
              <ion-input type="text" placeholder="{{ 'EMAIL' | translate }}" autocomplete="off" autocorrect="off" formControlName="username" [ngClass]="{'error': username.invalid && username.touched}"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="key-outline" item-left></ion-icon>
              <ion-input type="password" placeholder="{{ 'PASSWORD' | translate }}" autocomplete="off" autocorrect="off" formControlName="password" [ngClass]="{'error': password.invalid && username.touched}"></ion-input>
            </ion-item>
          </ion-list>
          <button ion-button color="light" block [disabled]="formGroup.invalid">{{ 'LOGIN' | translate }}</button>
        </form>
        <div class="box-links">
          <!-- <a href="javascript:;" (click)="recovery()">{{ 'FORGOT' | translate }}</a> -->
        </div>
      </div>
    </div>
  </div>
  </ion-content>