page-login {

    #video {
        position: fixed;
        top: 50%;
        left: 50%;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }

    #content-box {
        position: absolute;
        width: 100%;
        height: calc(100% - 332px);
    }

    ion-header {
        ion-title {
            text-align: center;
        }
    }

    ion-item {
        margin-bottom: 10px !important;
        border-radius: 10px !important;
    }

    .logo {
        text-align: center;
        z-index: 2;
        position: relative;

        img {
            display: inline-block;
            width: 200px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }

    button {
        background-color: $primary-color !important;
        box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.3);
        border-radius: 10px !important;
        color: #f4f4f4 !important;
        font-weight: bold;
        height: 3.4em !important;
    }

    .item-block {
        box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.3);
        border: none !important;
        padding: 0;
        border: 0.55px solid $primary-color !important;
        padding-left: 15px;
        color: $primary-color;

        input {
            &::placeholder {
                color: $primary-color;
            }
        }

        ion-icon {
            color: $primary-color;
            margin-right: 10px !important;
            font-size: 20px;
            padding-top: 3px;
        }

        .item-inner {
            border-radius: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &:first-child {
            margin-bottom: 20px !important;
        }
    }

    .box-links {
        text-align: center;
        margin-top: 70px;

        a {
            display: block;
            color: $light;
            text-decoration: none;
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: bold;
        }
    }

    .box-form {
        position: absolute;
        bottom: 0;
        width: calc(100% - 32px);
    }

    .touch-box {
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 90%;

        button {
            margin-bottom: 20px;
            border-radius: 10px !important;
            height: 3.8em;
            position: relative;

            ion-icon {
                position: absolute;
                left: 1em;
            }
        }
    }

    .auth-bg {
        .r {
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;

            &:first-child {
                top: -100px;
                right: -100px;
                background: $animated-color;
            }

            &:last-child {
                left: -100px;
                bottom: -100px;
                background: $animated-color2;

            }

            &:nth-child(odd) {
                animation: floating 7s infinite;
            }

            &:nth-child(even) {
                animation: floating 9s infinite;
            }
        }
    }

    @keyframes floating {
        from {
            transform: rotate(0deg) translate(-10px) rotate(0deg);
        }

        to {
            transform: rotate(360deg) translate(-10px) rotate(-360deg);
        }
    }

}