<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{ 'REGISTER' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom"><ion-icon name="close-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form name="registerForm" id="registerForm" ng-submit="doRecoveryPassword(recoveryEmail)">
    <ion-list>
      <ion-item>
        <ion-input type="text" name="nome" placeholder="{{ 'NAME' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="sobrenome" placeholder="{{ 'NICKNAME' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" name="email" placeholder="{{ 'EMAIL' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" name="confirmEmail" placeholder="{{ 'CONFIRM_EMAIL' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" name="senha" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" name="confirmSenha" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button color="primary" block type="submit">{{ 'SEND' | translate }}</button>
  </form>
</ion-content>
