page-register {
    ion-header {
        ion-title {
            text-align: center;
        }
    }
    ion-buttons {
        button {
            font-size: 20px;
        }
    }
    #registerForm {
        .item-block {
            border: none;
            margin-top: 10px;
            .item-inner {
                border-bottom: 0.55px solid #c8c7cc !important;
            }
        }
        button {
            background-color: $primary !important;
        }
    }
}