<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'REPORTS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/notes.png"/>
      <div class="card-title">{{ 'REPORTS' | translate }}</div>
    </ion-card>
  </div>
  <ion-card *ngFor="let mounth of notes.mounth">
    <ion-card-header>{{mounth.name}}</ion-card-header>
    <ion-list>
      <ion-item *ngFor="let item of mounth.itens">
        <ion-grid>
          <ion-col col-12>
            <ion-icon name="ios-person-outline" item-start></ion-icon> {{item.FirstName}}
          </ion-col>
          <ion-col col-12>
            <ion-icon name="ios-mail-outline" item-start></ion-icon> {{item.Email}}
          </ion-col>
          <ion-col col-12>
            <ion-icon name="ios-calendar-outline" item-start></ion-icon> {{item.data}}
          </ion-col>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
