page-notes {
    [col-12] {
        padding: 0;
        color: #333;
        font-weight: 400;
        ion-icon {
            color: $light;
            margin-right: 5px !important;
            font-size: 20px;
            font-weight: 400;
        }
    }
    
    ion-card {
        background: none !important;
    }
    
    .item-block {
        border-bottom: 0.55px solid #c8c7cc;
        margin-bottom: 5px;
    }
}
