page-contacts {
    ion-icon[name=ios-add-circle] {
        color: #ffffff;
    }
    ion-item {
        border: none !important;
        border-bottom: 0.55px solid #c8c7cc !important;
        &:last-child {
            border: none !important;
        }
        h2 {
            font-weight: bold !important;
            color: $light;
        }

        ion-icon[name=ios-star] {
            color: $light;
        }

        ion-icon[name=ios-arrow-forward] {
            color: $light;
        }
    }
}
