<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="register()">
        <ion-icon name="ios-add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'LIST_NAMES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-tabs tabsLayout="icon-start">
  <ion-tab tabIcon="ios-flame" tabTitle="{{ 'LIST_NAMES_HOT' | translate }}" [root]="complete" [rootParams]="navParams.data"></ion-tab>
  <ion-tab tabIcon="ios-thermometer" tabTitle="{{ 'LIST_NAMES_COLD' | translate }}" [root]="draft" [rootParams]="navParams.data"></ion-tab>
</ion-tabs>