<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="register()">
        <ion-icon name="ios-add-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'LIST_NAMES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/names.png"/>
      <div class="card-title">{{ 'LIST_NAMES_HOT' | translate }}</div>
    </ion-card>
  </div>
  <ion-card>
    <ion-item *ngFor="let contact of contacts" (click)="edit(contact)">
      <ion-avatar item-start>
        <img src="assets/imgs/placeholder-person.png">
      </ion-avatar>
      <h2>{{contact.first_name}} {{contact.last_name}}</h2>
      <p>{{contact.email}}</p>
      <p>
        <ion-icon name="ios-star" *ngFor="let star of contact.stars"></ion-icon>
      </p>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>