page-contacts-draft {
    ion-card {
        background: none !important;
        width: calc(100% - 10px) !important;
        margin: 5px !important;
        ion-item {
            margin-bottom: 5px !important;
        }
    }
}
