page-alerts {
    ion-item {
        ion-icon {
            color: $light;
        }
        margin-bottom: 10px !important;
        background: none !important;
    }
    .label {
        ion-icon {
            color: $light;
        }
        h2 {
            color: $light;
        }
        p {
            color: #ffffff !important;
        }
    }
}
