<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'ALERTS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>  
      <img src="assets/imgs/header/alerts.png"/>
      <div class="card-title">{{ 'ALERTS' | translate }}</div>
    </ion-card>
  </div>
  <ion-list>
    <div *ngFor="let alert of alerts">
      <ion-item *ngIf="alert.status != '2'" (click)="openNotification(alert)">
        <ion-icon name="{{alert.status == '1' ? 'ios-mail-outline' : 'ios-mail'}}" item-start></ion-icon>
        <h2>{{alert.title}}</h2>
        <p>{{alert.message}}</p>
        <ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>