page-alert-modal {
    .item-block {
        border: none !important;
        padding: 15px;
    }

    .label {
        h2 {
            font-size: 2rem;
            margin-bottom: 10px;
            color: $light;
            font-weight: bold;
            word-break: break-word;
            white-space: normal;
        }

        p {
            font-size: 1.5rem;
            overflow: initial;
            white-space: pre-line;
            line-height: 20px;
        }
    }

    .button-full {
        background-color: $light;
        border-radius: 10px;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
}