<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{ 'ALERT' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <h2>{{alert.title}}</h2>
      <p [innerHTML]="alert.message"></p>
    </ion-item>
  </ion-list>
  <!-- <button ion-button full (click)="openData()" *ngIf="received == true">{{'SEE_NOW' | translate}}</button> -->
  <!-- <button ion-button full (click)="closeModal()" *ngIf="received == true">{{'SEE_AFTER' | translate}}</button> -->

  <button ion-button full icon-start (click)="delete()" *ngIf="received == false">
    <ion-icon name="ios-trash-outline"></ion-icon> {{'DELETE_ALERTS' | translate}}
  </button>
</ion-content>
