page-first {
    .card-content {
        position: relative;
        button {
            position: absolute;
            top: 15px;
            right: 15px;
            background: none;
            ion-icon {
                font-size: 40px;
                color: #ffffff;
            }
        }
    }
}
