page-audio-offline {
    .card-content {
        position: relative;
        ion-thumbnail {
            img {
                width: auto !important;
            }
        }
        .item-block {
            padding-left: 0px;
            border: none !important;
            border-bottom: 0.55px solid #c8c7cc !important;
            &:last-child {
                border: none !important;
            }
            h2 {
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .controls {
        text-align: center;
        ion-icon {
            color: $primary !important;
            font-size: 3em !important;
        }
    }

    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: $primary;
    }

    .item-block {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 0.55px solid #c8c7cc;
        .item-inner {
            border-bottom: none !important;
        }
    }
    
    .title-download {
        font-size: 1.8rem;
        text-align: center;
        color: $primary;
    }
}
