<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{audio.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="downloading">
    <h2 class="title-download">{{'DOWNLOADING' | translate}}</h2>
    <div class="progress-outer">
      <div class="progress-inner" [style.width]="downloadProgress + '%'">
        {{downloadProgress}}%
      </div>
    </div>
  </div>

  <ion-card *ngIf="!downloading">
    <ion-card-content>
      <audio-track #audio [track]="track" (onFinish)="onTrackFinished($event)">
        <ion-item class="controls">
          <audio-track-play dark [audioTrack]="audio">
            <ion-spinner></ion-spinner>
          </audio-track-play>
        </ion-item>
        <ion-item>
          <h2>{{audio.title}}</h2>
          <audio-track-progress-bar dark duration progress [audioTrack]="audio"></audio-track-progress-bar>
        </ion-item>
      </audio-track>
    </ion-card-content>
  </ion-card>
</ion-content>