page-webinars {
    .content-col {
        background: none !important;

        ion-card-header {
            background: none !important;
            color: $light !important;
            text-align: center;
        }
    }

    .button-full {
        background-color: $light;
        border-radius: 10px;
    }
}