<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'WEBNEWS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/webinars.png"/>
      <div class="card-title">{{ 'WEBNEWS' | translate }}</div>
    </ion-card>
  </div>
  <ion-card *ngFor="let video of videos" class="content-col">
    <ion-card-header>
      <button ion-button icon-left class="button-full" (click)="open(video)">
        <ion-icon name="ios-play"></ion-icon> {{video.name}}
      </button>
    </ion-card-header>
    <!-- <ion-card-content>
      <div [innerHTML]="video.link" id='video-embed'></div>
    </ion-card-content> -->
  </ion-card>
</ion-content>