page-source-pdf {
    .card-content {
        text-align: center;

        [name=ios-document] {
            color: $light;
            font-size: 4em;
        }

        ion-thumbnail {
            text-align: center;
            margin-right: 0 !important;

            [name=ios-document] {
                color: $light;
                font-size: 2em;
                margin-top: 12px;
            }
        }

        .item-block {
            padding-left: 0px;
            border: none !important;
            border-bottom: 0.55px solid #c8c7cc !important;
            background-color: transparent;

            &:last-child {
                border: none !important;
            }

            h2 {
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $light !important;
                font-size: 1.8rem;
            }

            .category-buttons {
                button {
                    font-size: 1.3rem;
                    padding: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    background-color: $light;
                    border-radius: 10px;
                    height: auto;
                }

                .button-full {
                    height: 35px !important;
                }
            }
        }
    }

    .button-full {
        background-color: $light;
        border-radius: 10px;
    }

    .cardfooter {
        padding: 5px !important;
    }

    .content-col {
        background: none !important;

        ion-card-header {
            background: none !important;
            color: $light !important;
            text-align: center;
        }
    }
}