<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/sources.png"/>
      <div class="card-title">{{ 'PDF' | translate }}</div>
    </ion-card>
  </div>
  <ion-card *ngFor="let group of categories" class="card-categories">
    <ion-card-header>{{group.name}}</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of group.itens">
          <ion-thumbnail item-start>
            <ion-icon name="ios-document"></ion-icon>
          </ion-thumbnail>
          <h2>{{item.name}}</h2>
          <div class="category-buttons">
            <button ion-button icon-start (click)="open(item)" *ngIf="!item.exists">
              <ion-icon name="ios-play"></ion-icon> {{'TO_VIEW' | translate}}
            </button>
            <button ion-button icon-start (click)="download(item)" *ngIf="!item.exists">
              <ion-icon name="ios-cloud-download"></ion-icon> {{'DOWNLOAD' | translate}}
            </button>
            <button ion-button icon-start (click)="openLocal(item)" *ngIf="item.exists">
              <ion-icon name="ios-play"></ion-icon> {{'OPEN' | translate}}
            </button>
            <button ion-button icon-start (click)="delete(item)" *ngIf="item.exists">
              <ion-icon name="ios-trash-outline"></ion-icon> {{'DELETE' | translate}}
            </button>
          </div>
          <div class="category-buttons">
            <button ion-button icon-start (click)="sendEmail(item)">
              <ion-icon name="ios-mail"></ion-icon> {{'SEND_BY_EMAIL' | translate}}
            </button>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let pdf of pdfs" class="content-col">
    <ion-card-header>{{pdf.name}}</ion-card-header>
    <ion-card-content>
      <ion-icon name="ios-document"></ion-icon>
    </ion-card-content>
    <ion-row class="cardfooter">
      <ion-col *ngIf="!pdf.exists">
        <button ion-button full icon-start (click)="open(pdf)">
          <ion-icon name="ios-play"></ion-icon> {{'TO_VIEW' | translate}}
        </button>
      </ion-col>
      <ion-col *ngIf="!pdf.exists">
        <button ion-button full icon-start (click)="download(pdf)">
          <ion-icon name="ios-cloud-download"></ion-icon> {{'DOWNLOAD' | translate}}
        </button>
      </ion-col>
      <ion-col *ngIf="pdf.exists">
        <button ion-button full icon-start (click)="openLocal(pdf)">
          <ion-icon name="ios-play"></ion-icon> {{'OPEN' | translate}}
        </button>
      </ion-col>
      <ion-col *ngIf="pdf.exists">
        <button ion-button full icon-start (click)="delete(pdf)">
          <ion-icon name="ios-trash-outline"></ion-icon> {{'DELETE' | translate}}
        </button>
      </ion-col>
      <ion-col col-12>
        <button ion-button full icon-start (click)="sendEmail(pdf)">
          <ion-icon name="ios-mail"></ion-icon> {{'SEND_BY_EMAIL' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>