page-disclosure {
    [col-12] {
        padding-top: 0;
        padding-bottom: 0;
    }
    .col {
        padding-top: 0;
        button {
            background-color: $primary;
            border: none;
        }
    }
    .show-tabbar {
        .tab-button {
            &[aria-selected=true] {
                background-color: saturate($primary, 40%);
            }
            background-color: $primary;
            color: #fff !important;
            ion-icon {
                color: #fff !important;
            }
            .tab-button-text {
                color: #fff !important;
            }
        }
    }
}
