<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'DISCLOSURE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of links">
    <ion-card-header>{{item.name}}</ion-card-header>
    <ion-card-content>
      <img [src]="item.image" />
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <button ion-button icon-start full (click)="copy(item)">
            <ion-icon name="ios-link-outline"></ion-icon> {{ 'COPY_LINK' | translate }}</button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only full (click)="share(item,'facebook')">
            <ion-icon name="logo-facebook"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only full (click)="share(item,'twitter')">
            <ion-icon name="logo-twitter"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only full (click)="share(item,'whatsapp')">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>