<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'DISCLOSURE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-tabs tabsLayout="icon-start">
  <ion-tab tabIcon="logo-usd" tabTitle="{{ 'DISCLOSURE_BUSINESS' | translate }}" [root]="business" [rootParams]="navParams.data"></ion-tab>
  <ion-tab tabIcon="ios-cart" tabTitle="{{ 'DISCLOSURE_PRODUCTS' | translate }}" [root]="produts" [rootParams]="navParams.data"></ion-tab>
</ion-tabs>