<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'FOLLOW_UP' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/followup.png"/>
      <div class="card-title">{{ 'FOLLOW_UP' | translate }}</div>
    </ion-card>
  </div>
  <div padding>
    <h1>{{'REGISTER_FOLLOW' | translate}}</h1>
    <button ion-button full (click)="openLink()">{{'REGISTER_NOW' | translate}}</button>
  </div>
</ion-content>
