page-follow {
    h1 {
        font-size: 2rem;
        color: $light;
        text-align: center;
        margin-top: 30px !important;
    }
    .button-full {
        background-color: $light;
        margin-top: 30px;
        border-radius: 10px;
    }
}
