<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'MATERIALS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-tabs tabsLayout="icon-start" #sourceTabs>
  <ion-tab tabIcon="logo-youtube" tabTitle="{{ 'VIDEO' | translate }}" [root]="video" [rootParams]="navParams.data"></ion-tab>
  <ion-tab tabIcon="ios-mic-outline" tabTitle="{{ 'AUDIO' | translate }}" [root]="audio" [rootParams]="navParams.data"></ion-tab>
  <ion-tab tabIcon="ios-document-outline" tabTitle="{{ 'PDF' | translate }}" [root]="pdf" [rootParams]="navParams.data"></ion-tab>
</ion-tabs>