page-sources {
    .card-content {
        ion-item {
            background: none !important;
        }
    }
    .content-col {
        margin-top: 20px;
    }
    .show-tabbar {
        .tab-button {
            &[aria-selected=true] {
                background-color: saturate($primary, 40%);
            }
            background-color: $primary;
            color: #fff !important;
            ion-icon {
                color: #fff !important;
            }
            .tab-button-text {
                color: #fff !important;
            }
        }
    }
}
