<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'LEADERSHIP' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-tabs tabsLayout="icon-start">
  <ion-tab tabIcon="md-calendar" tabTitle="{{month}}" [root]="monthPage" [rootParams]="navParams.data"></ion-tab>
  <ion-tab tabIcon="md-star" tabTitle="{{year}}" [root]="listPage" [rootParams]="navParams.data"></ion-tab>
</ion-tabs>