page-meeting-map {
    .scroll {
        height: 100%
    }

    #map {
        width: 100%;
        height: 100%;
    }

    strong {
        color: $primary;
    }

    .content-map {
        padding: 10px;
    }

    .button-full {
        background-color: $light;
        border-radius: 10px;
        height: 35px;
        color: #ffffff;
    }
}