<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{video.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [innerHTML]="code" id='video-embed'></div>
</ion-content>
