page-leadership-month {
    h2 {
        color: $primary;
    }

    p {
        strong {
            color: $light;
        }
    }

    ion-col {
        button {
            font-weight: bold;
        }

        &:nth-child(1) {
            button {
                color: #3C66AF;
            }
        }

        &:nth-child(2) {
            button {
                color: #00A0EE;
            }
        }

        &:nth-child(3) {
            button {
                color: #00BFA6;
            }
        }
    }
}