<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{video.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom" *ngIf="!downloading">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="downloading">
    <h2 class="title-download">{{'DOWNLOAD_VIDEO' | translate}}</h2>
    <div class="progress-outer">
      <div class="progress-inner" [style.width]="downloadProgress + '%'">
        {{downloadProgress}}%
      </div>
    </div>
  </div>

  <ion-list *ngIf="!downloading">
    <ion-item *ngIf="!isFile" (click)='openModalVideo(false)'>
      <ion-icon name="logo-youtube" item-start></ion-icon> {{'WATCH_ONLINE' | translate}}
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="isDownload" (click)='openModalVideo(true)'>
      <ion-icon name="ios-cloud-download-outline" item-start></ion-icon> {{'WATCH_LATER' | translate}}
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="isFile" (click)='openModalVideo(true)'>
      <ion-icon name="logo-youtube" item-start></ion-icon> {{'WATCH_VIDEO' | translate}}
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="isAudio" (click)='openModalAudio(true,true)'>
      <ion-icon name="ios-mic" item-start></ion-icon> {{'AUDIO_VERSION' | translate}}
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>