<ion-menu side="left" [content]="content">
    <ion-header>
        <ion-toolbar color="dark">
            <ion-title>{{ 'HELLO' | translate }} {{user.first_name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="page-menu" padding>
        <ion-list id="listMenu">
            <button menuClose ion-item icon-end *ngFor="let p of pages" (click)="openPage(p)">
                {{ p.title | translate }} <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
            <button menuClose ion-item icon-end (click)="changeLanguage()">
                {{'CHANGE_LANGUAGE' | translate }} <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
            <button menuClose ion-item icon-end (click)="logout()">
                {{'LOGOUT' | translate }} <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>