ion-card-header {
    background-color: #f5f5f5 !important;
    padding: 12px !important;
}

.card-content {
    padding: 10px !important;
}

.page-menu {
    ion-icon {
        margin-right: 10px;
        color: $primary;
    }
}

.modal-buttom {
    font-size: 20px;
}

.vp-player-layout {
    top: 0 !important;
}

.error {
    color: #ff0000;
}

ion-content {
    // background-image: url('../assets/imgs/bg_dark.png');
    // background-size: cover;
    background: #f4f7fa;
    // background: linear-gradient(-180deg, #f4f7fa 0%, #ffffff 100%);
}

.page-menu {
    background-image: url('../assets/imgs/bg_dark.png');
    background-size: cover;

    .item-block {
        background-size: cover;
        color: #f5f5f5;
        text-transform: uppercase;
        font-weight: bold;
        height: 4.5em;
        border: none !important;
        margin-bottom: 10px;
        background-position: -2px;
        font-size: 1.3em;

        .item-inner {
            border: none !important;
            background-image: none !important;
            position: relative;

            ion-icon {
                position: absolute;
                right: -10px;
                color: #F68617;
                font-size: 30px;
                background-color: #f5f5f5;
                padding: 10px;
                top: 4px;
            }
        }

        &:nth-child(1) {
            background-image: url('../assets/imgs/bg_menu1.png');
        }

        &:nth-child(2) {
            background-image: url('../assets/imgs/bg_menu13-1.png');
        }

        &:nth-child(3) {
            background-image: url('../assets/imgs/bg_menu2.png');
        }

        &:nth-child(4) {
            background-image: url('../assets/imgs/bg_menu3.png');
        }

        &:nth-child(5) {
            background-image: url('../assets/imgs/bg_menu4.png');
        }

        &:nth-child(6) {
            background-image: url('../assets/imgs/bg_menu5.png');
        }

        &:nth-child(7) {
            background-image: url('../assets/imgs/bg_menu8.png');
        }

        &:nth-child(8) {
            background-image: url('../assets/imgs/bg_menu10.png');
        }

        &:nth-child(9) {
            background-image: url('../assets/imgs/bg_menu9.png');
        }

        &:nth-child(10) {
            background-image: url('../assets/imgs/bg_menu11.png');
        }

        &:nth-child(11) {
            background-image: url('../assets/imgs/bg_menu12.png');
        }

        &:nth-child(12) {
            background-image: url('../assets/imgs/bg_menu11.png');
        }

        &:nth-child(13) {
            background-image: url('../assets/imgs/bg_menu12.png');
        }
    }
}

.content-col {
    &.hide-col {
        display: none;
    }

    ion-card {
        background: none;
        width: 100% !important;
        margin: 0 !important;
        box-shadow: none !important;

        .card-content {
            position: relative;

            h2 {
                padding-top: 5px;
                text-align: center;
                color: #f5f5f5;
                font-weight: bold;
            }

            button {
                position: absolute;
                top: 15px;
                right: 15px;
                background: none;

                ion-icon {
                    font-size: 40px;
                    color: #ffffff;
                }
            }
        }
    }
}

.card-background {
    ion-card {
        box-shadow: none !important;
        position: relative;
        text-align: center;
        margin: 0;
        width: 100%;
        background: none !important;

        img {
            filter: blur(1px);
        }
    }

    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 80%;
        margin-left: 10%;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
}

.show-tabbar {
    .tab-button {
        &[aria-selected=true] {
            background-color: saturate($primary, 30%);

            ion-icon {
                color: $light !important;
            }

            .tab-button-text {
                color: $light !important;
            }
        }

        background-color: $primary;
        color: #fff !important;

        ion-icon {
            color: #fff !important;
        }

        .tab-button-text {
            display: block !important;
            color: #fff !important;
        }
    }
}

.card-categories {
    background: none !important;
    margin: 0 !important;
    margin-top: 5px !important;
    width: 100% !important;

    .card-header {
        color: $light;
    }

    .item-block {
        h2 {
            color: #fff !important;
        }
    }
}

.progress-bar {
    margin-top: 10px;
    background-color: #dddddd;
    width: 100%;
    height: 5px;
    border-radius: 5px;

    .current {
        background-color: $light;
        width: 0;
        height: 5px;
        border-radius: 5px;
    }
}