<ion-menu side="left" [content]="content">
    <ion-header>
        <ion-toolbar color="dark">
            <ion-title>{{ 'HELLO' | translate }} {{user.FirstName}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="page-menu" padding>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name="{{p.icon}}"></ion-icon> {{ p.title | translate }}
            </button>
            <button menuClose ion-item (click)="changeLanguage()">
                <ion-icon name="ios-globe"></ion-icon> {{'CHANGE_LANGUAGE' | translate }}
            </button>
            <button menuClose ion-item (click)="logout()">
                <ion-icon name="ios-exit"></ion-icon> {{'LOGOUT' | translate }}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>