<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{video.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <video id="video-player" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
    <source [src]="video.targetFile" />
  </video>
  <button ion-button full icon-start (click)="delete()">
    <ion-icon name="ios-trash-outline"></ion-icon> {{'DELETE_VIDEO' | translate}}
  </button>
</ion-content>