page-contact-details {
    ion-title {
        padding: 0 60px 1px !important;
    }

    #contactForm {
        .item-block {
            border-top: none;
            margin-top: 20px;
        }
    }

    .contact-button {
        margin-bottom: 20px;
        border-radius: 10px !important;
        height: 3.8em;
        &.back {
            height: 3em;
        }
        ion-icon {
            left: 10%;
            position: absolute;
            font-size: 2em;
        }
    }
    
}
