<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'CONTACT_INFORMATION' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <button ion-button icon-left class="contact-button" color="light" block (click)="import()" *ngIf="manual == false"><ion-icon name="ios-bookmarks"></ion-icon> Importar Agenda</button>
  <button ion-button icon-left class="contact-button" color="light" block (click)="search()" *ngIf="manual == false"><ion-icon name="ios-contact"></ion-icon> Selecionar Contato</button>
  <button ion-button icon-left class="contact-button" color="light" block (click)="manualEnabled()" *ngIf="id == null && manual == false"><ion-icon name="ios-add-circle"></ion-icon> Cadastro Manual</button>
  <button ion-button icon-left class="contact-button back" color="light" block  *ngIf="importBack" (click)="back()"><ion-icon name="ios-arrow-back"></ion-icon> {{ 'COME_BACK' | translate }}</button>
  <button ion-button icon-left class="contact-button back" color="light" block  *ngIf="importBack != true && id != null" (click)="back()"><ion-icon name="ios-arrow-back"></ion-icon> {{ 'COME_BACK' | translate }}</button>
  <button ion-button icon-left class="contact-button back" color="danger" block  *ngIf="id != null" (click)="delete()"><ion-icon name="ios-trash"></ion-icon> {{ 'DELETE' | translate }}</button>
  <button ion-button icon-left class="contact-button back" color="secondary" block  *ngIf="id != null" (click)="share()"><ion-icon name="logo-whatsapp"></ion-icon> {{ 'SEND_INVITE' | translate }}</button>

  <form [formGroup]="formGroup" id="contactForm" (ngSubmit)="send()" *ngIf="manual">
    <ion-list>
      <ion-item>
        <ion-input type="text" formControlName="name" placeholder="{{ 'NAME' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="nickname" placeholder="{{ 'NICKNAME' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="phone" placeholder="{{ 'PHONE' | translate}}" [brmasker]="{mask:'+00 00 00000-0000', len:18, type:'num'}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" formControlName="email" placeholder="{{ 'EMAIL' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'GROUP' | translate }}</ion-label>
        <ion-select formControlName="group" cancelText="{{ 'TOUCH_CANCEL' | translate }}" okText="Ok">
          <ion-option value="{{item.id}}" *ngFor="let item of contactGroups"> {{ item.name | translate }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'TYPE_CONTACT' | translate }}</ion-label>
        <ion-select formControlName="types" cancelText="{{ 'TOUCH_CANCEL' | translate }}" okText="Ok">
          <ion-option value="{{item.id}}" *ngFor="let item of contactTypes"> {{ item.name | translate }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="observations" placeholder="{{ 'OBSERVATIONS' | translate }}" autocomplete="on" autocorrect="on"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{'ENTREPRENEUR' | translate}}</ion-label>
        <ion-toggle color="light" checked="false" formControlName="entrepreneur"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'CREDILITY' | translate}}</ion-label>
        <ion-toggle color="light" checked="false" formControlName="credility"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'NETWORKING' | translate}}</ion-label>
        <ion-toggle color="light" checked="false" formControlName="networking"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'EMPOWERMENT' | translate}}</ion-label>
        <ion-toggle color="light" checked="false" formControlName="empowerment"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'DREAMER' | translate}}</ion-label>
        <ion-toggle color="light" checked="false" formControlName="dreamer"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="invitation" placeholder="{{ 'DATE_INVITATION' | translate }}" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="plan" placeholder="{{ 'DATE_PLAN' | translate }}" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="fup" placeholder="{{ 'DATE_FUP' | translate }}" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" formControlName="closing" placeholder="{{ 'CLOSING' | translate }}" [brmasker]="{mask:'00/00/0000', len:10, type:'num'}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'REGISTER' | translate}}</ion-label>
        <ion-toggle color="light" checked="false" formControlName="register"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="comments" placeholder="{{ 'COMMENTS' | translate }}" autocomplete="on" autocorrect="on"></ion-textarea>
      </ion-item>
    </ion-list>
    <button ion-button color="light" block type="submit" [disabled]="formGroup.invalid">{{ 'SAVE' | translate }}</button>
  </form>
</ion-content>