<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/sources.png"/>
      <div class="card-title">{{ 'VIDEO' | translate }}</div>
    </ion-card>
  </div>
  <ion-card *ngFor="let group of categories" class="card-categories">
    <ion-card-header>{{group.name}}</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of group.itens" (click)="openModalOpcoes(item)">
          <ion-thumbnail item-start>
            <img [src]="item.thumbnail" />
          </ion-thumbnail>
          <h2>{{item.name}}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let video of videos" class="content-col" (click)="openModalOpcoes(video)">
        <ion-card>
          <ion-card-content>
            <img [src]="video.thumbnail" />
            <h2>{{video.name}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>
