page-source-video {
    .card-content {
        position: relative;
        ion-thumbnail {
            img {
                width: auto !important;
            }
        }
        .item-block {
            padding-left: 0px;
            border: none !important;
            border-bottom: 0.55px solid #c8c7cc !important;
            &:last-child {
                border: none !important;
            }
            h2 {
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        button {
            position: absolute;
            top: 15px;
            right: 15px;
            background: none;
            ion-icon {
                font-size: 40px;
                color: #ffffff;
            }
        }
    }
}
