<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/sources.png"/>
      <div class="card-title">{{ 'AUDIO' | translate }}</div>
    </ion-card>
  </div>
  <ion-card *ngFor="let group of categories" class="card-categories">
    <ion-card-header>{{group.name}}</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of group.itens">
          <ion-thumbnail item-start>
            <ion-icon name="ios-mic"></ion-icon>
          </ion-thumbnail>
          <h2>{{item.name}}</h2>
          <div class="category-buttons">
            <button ion-button icon-start (click)="open(item)" *ngIf="!item.exists">
              <ion-icon name="ios-play"></ion-icon> {{'LISTEN' | translate}}
            </button>
            <button ion-button icon-start (click)="download(item)" *ngIf="!item.exists">
              <ion-icon name="ios-cloud-download"></ion-icon> {{'DOWNLOAD' | translate}}
            </button>
            <button ion-button icon-start (click)="openLocal(item)" *ngIf="item.exists">
              <ion-icon name="ios-play"></ion-icon> {{'LISTEN' | translate}}
            </button>
            <button ion-button icon-start (click)="delete(item)" *ngIf="item.exists">
              <ion-icon name="ios-trash-outline"></ion-icon> {{'DELETE' | translate}}
            </button>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let audio of audios" class="content-col">
    <ion-card-header>{{audio.name}}</ion-card-header>
    <ion-card-content>
      <ion-icon name="ios-mic"></ion-icon>
    </ion-card-content>
    <ion-row class="cardfooter">
      <ion-col *ngIf="!audio.exists">
        <button ion-button full icon-start (click)="open(audio)">
          <ion-icon name="ios-play"></ion-icon> {{'LISTEN' | translate}}
        </button>
      </ion-col>
      <ion-col *ngIf="!audio.exists">
        <button ion-button full icon-start (click)="download(audio)">
          <ion-icon name="ios-cloud-download"></ion-icon> {{'DOWNLOAD' | translate}}
        </button>
      </ion-col>
      <ion-col *ngIf="audio.exists">
        <button ion-button full icon-start (click)="openLocal(audio)">
          <ion-icon name="ios-play"></ion-icon> {{'LISTEN' | translate}}
        </button>
      </ion-col>
      <ion-col *ngIf="audio.exists">
        <button ion-button full icon-start (click)="delete(audio)">
          <ion-icon name="ios-trash-outline"></ion-icon> {{'DELETE' | translate}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>