page-source-audio {
    .card-content {
        text-align: center;
        [name=ios-mic] {
            color: $light;
            font-size: 4em;
        }
        ion-thumbnail {
            text-align: center;
            [name=ios-mic] {
                font-size: 2em;
                margin-top: 12px;
            }
        }
        .item-block {
            padding-left: 0px;
            border: none !important;
            border-bottom: 0.55px solid #c8c7cc !important;
            background-color: transparent;
            &:last-child {
                border: none !important;
            }
            h2 {
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .category-buttons {
                button {
                    font-size: 1.3rem;
                    padding: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    background-color: $light;
                    border-radius: 10px;
                    height: 35px;
                }
            }
        }
    }
    .button-full {
        background-color: $light;
        border-radius: 10px;
    }
    .cardfooter {
        padding: 5px !important;
    }

    .content-col {
        background: none !important;
        ion-card-header {
            background: none !important;
            color: $light !important;
            text-align: center;
        }
    }
}
