<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'MEETINGS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-tabs tabsLayout="icon-start">
  <ion-tab tabIcon="md-map" tabTitle="{{ 'MAP' | translate }}" [root]="mapPage" [rootParams]="navParams.data"></ion-tab>
  <ion-tab tabIcon="md-list-box" tabTitle="{{ 'LIST' | translate }}" [root]="listPage" [rootParams]="navParams.data"></ion-tab>
</ion-tabs>