<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'DAILY_AUDIO' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-tabs tabsLayout="icon-start">
  <ion-tab tabIcon="ios-cart" tabTitle="{{ 'DAILY_AUDIO_PRODUCTS' | translate }}" [root]="produto" [rootParams]="navParams.data"></ion-tab>
  <ion-tab tabIcon="ios-body" tabTitle="{{ 'DAILY_AUDIO_MOTIVATIONAL' | translate }}" [root]="motivacional" [rootParams]="navParams.data"></ion-tab>
</ion-tabs>