page-daily-audio {
    .card-content {
        position: relative;
        button {
            position: absolute;
            top: 15px;
            right: 15px;
            background: none;
            ion-icon {
                font-size: 40px;
                color: #ffffff;
            }
        }
    }

    .show-tabbar {
        .tab-button {
            &[aria-selected=true] {
                background-color: saturate($primary, 30%);
                ion-icon {
                    color: #F68617 !important;
                }
                .tab-button-text {
                    color: #F68617 !important;
                }
            }
            background-color: $primary;
            color: #fff !important;
            ion-icon {
                color: #fff !important;
            }
            .tab-button-text {
                color: #fff !important;
            }
        }
    }
}
