<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/followup.png" />
      <div class="card-title">{{ 'LIST' | translate }}</div>
    </ion-card>
  </div>
  <ion-card *ngFor="let meeting of meetings">
    <ion-item (click)="open(meeting)">
      <ion-icon name="md-map" item-start></ion-icon>
      <h2>{{meeting.name}}</h2>
      <p><strong>{{meeting.date}}</strong></p>
      <ion-icon name="ios-arrow-forward" item-end></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>