page-audio-online {
    ion-card {
        margin-top: 20px !important;
    }
    .controls {
        text-align: center;
        ion-icon {
            color: $primary;
            font-size: 3em;
        }
    }
}
