<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{audio.title}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/imgs/default-img.gif" [lazyLoad]="image" *ngIf="image != null" offset="100" />
    <ion-card-content>
      <audio-track #audio [track]="track" (onFinish)="onTrackFinished($event)" (onLoad)="onTrackLoad($event)"
        (onPause)="onTrackPause($event)">
        <ion-item class="controls">
          <audio-track-play dark [audioTrack]="audio">
            <ion-spinner></ion-spinner>
          </audio-track-play>
        </ion-item>
        <ion-item>
          <h2>{{audio.title}}</h2>
          <audio-track-progress-bar dark duration progress [audioTrack]="audio"></audio-track-progress-bar>
        </ion-item>
      </audio-track>
    </ion-card-content>
  </ion-card>
</ion-content>