<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'DAILY_MOTIVATIONAL' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/daily.png"/>
      <div class="card-title">{{'DAILY_MOTIVATIONAL' | translate}}</div>
    </ion-card>
  </div>
  <ion-grid *ngIf="menuClose">
    <ion-row>
      <ion-col col-6 *ngFor="let video of videos" class="content-col">
        <ion-card (click)="openModalOpcoes(video)">
          <ion-card-content>
            <img src="assets/imgs/default-img.gif" [lazyLoad]="video.thumbnail" *ngIf="video.thumbnail != null" />
            <h2>{{video.name}}</h2>
            <div class="progress-bar">
              <div class="current" [progress]='video.progress'></div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>