page-meeting-details {
    .card {
        border: none;
        box-shadow: none;

        .card-content {
            padding: 20px !important;

            .card-title {
                padding-top: 5px;
                text-align: center;
                color: $primary;
                font-weight: bold;
                font-size: 2.0rem;
            }

            p {
                text-align: justify;
                color: #000000;
                font-size: 1.7rem;
                font-weight: normal;
                padding-top: 5px;
                strong {
                    color: $light;
                }
            }

            .button-full {
                background-color: $light;
                border-radius: 10px;
                margin-top: 10px;
            }
        }
    }
}