<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{meeting.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <img [src]="meeting.image == null ? 'assets/imgs/header/followup.png' : meeting.image" />
    <ion-card-content>
      <ion-card-title>{{meeting.name}}</ion-card-title>
      <p>{{meeting.description}}</p>
      <p><strong>{{meeting.date}} - {{meeting.address_address}}</strong></p>
      <button ion-button icon-left block class="button-full" color="light" (click)="goLocation()">
        <ion-icon name="ios-navigate"></ion-icon> {{ 'DRIVE_PLACE' | translate }}
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>