<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/webinars.png" />
      <div class="card-title">{{year}}</div>
    </ion-card>
  </div>
  <ion-card *ngFor="let qualification of qualifications">
    <div *ngIf="qualification.image == null">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/placeholder-person.png">
        </ion-avatar>
        <h2>{{qualification.name}}</h2>
        <p><strong>{{qualification.level_name}}</strong></p>
        <p>{{qualification.city == null ? '' : qualification.city }}
          {{qualification.state == null ? '' : ' - ' + qualification.state}}</p>
      </ion-item>
    </div>
    <div *ngIf="qualification.image != null">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/placeholder-person.png">
        </ion-avatar>
        <h2>{{qualification.name}}</h2>
        <p><strong>{{qualification.level_name}}</strong></p>
      </ion-item>
      <img [src]="qualification.image" />
      <ion-row no-padding>
        <ion-col col-4>
          <button ion-button clear small color="danger" icon-start (click)="share(qualification, '1')">
            <ion-icon name='logo-facebook'></ion-icon>
            Facebook
          </button>
        </ion-col>
        <ion-col text-center col-4>
          <button ion-button clear small color="danger" icon-start (click)="share(qualification, '2')">
            <ion-icon name='logo-twitter'></ion-icon>
            Twitter
          </button>
        </ion-col>
        <ion-col text-right col-4>
          <button ion-button clear small color="danger" icon-start (click)="share(qualification, '3')">
            <ion-icon name='logo-whatsapp'></ion-icon>
            Whatsapp
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>
</ion-content>