<ion-header>
  <ion-navbar color="dark">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'COURSES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="card-background">
    <ion-card>
      <img src="assets/imgs/header/courses.png"/>
      <div class="card-title">{{ 'COURSES' | translate }}</div>
    </ion-card>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let course of courses" class="content-col">
        <ion-card (click)="openVideos(course)">
          <ion-card-content>
            <img src="assets/imgs/default-img.gif" [lazyLoad]="course.image" *ngIf="course.image != null" offset="100" />
            <h2>{{course.name}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>    
  </ion-grid>
</ion-content>