page-contact-importer {
    .item-import {
        ion-icon {
            position: relative;
            bottom: -2px;
        }
    }
    ion-card {
        background: none !important;
        width: calc(100% - 10px) !important;
        margin: 5px !important;
        ion-item {
            margin-bottom: 5px !important;
        }
    }

    ion-item {
        border: none !important;
        border-bottom: 0.55px solid #c8c7cc !important;
        &:last-child {
            border: none !important;
        }
        h2 {
            font-weight: bold !important;
            color: $light;
        }

        ion-icon[name=ios-star] {
            color: $light;
        }

        ion-icon[name=ios-arrow-forward] {
            color: $light;
        }
    }
}
