<ion-header>
  <ion-navbar color="dark">
    <ion-searchbar (keyup)="onKeyUp($event)" show-cancel="true" placeholder="{{ 'NAME' | translate }}"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)='closeModal()' class="modal-buttom">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <div *ngFor="let contact of contactFound" (click)="select(contact)">
      <ion-item *ngIf="contact.phoneNumbers != null" class="item-import">
        <ion-avatar item-start>
          <img src="assets/imgs/placeholder-person.png" *ngIf="contact.photos == null">
          <img [src]="sanitizeImage(contact.photos[0].value)" *ngIf="contact.photos != null">
        </ion-avatar>
        <h2>{{contact.name.formatted}}</h2>
        <p *ngFor="let phone of contact.phoneNumbers"><ion-icon name="ios-call-outline"></ion-icon> {{phone.value}}</p>
        <p *ngFor="let email of contact.emails"><ion-icon name="ios-mail-outline"></ion-icon> {{email.value}}</p>
        <ion-icon name="ios-checkmark-outline" item-end *ngIf="contact.selected == true"></ion-icon>
      </ion-item>
    </div>
  </ion-card>
</ion-content>